<form action="/books" method="post">
	<h3>Nhap ID Sach: </h3>
	<input id="id" type="id" name="id" placeholder="ID">
	<br>
	<h3>Nhap ten sach: </h3>
	<input id="name" type="name" name="name" placeholder="Địa chỉ">
	<br>
	<div style="margin-top: 20px;">
		<input id="submit" type="submit" name="submit_info" value="ĐẶT LỊCH">					
	</div>
</form>
