<h1>Welcome to Sihc home page :v</h1>

<form  action="/users" method="GET">
	<input type="submit" value="Đến trang User">
</form>
<form  action="/users/new" method="GET">
	<input type="submit" value="Thêm User">
</form>
	
<style type="text/css">
	form{
		margin-top: 20px;
	}
</style>
