<%= erb :head %>

<section>
	<div class="container">
		<form action="/book/new" method="post" enctype="multipart/form-data">
			<div class="input input-name">
				<h3>Tên sách</h3>
				<input type="text" name="name" required="true">
			</div>
			<div class="input input-name">
				<h3>Tác giả</h3>
				<input type="text" name="authod">
			</div>
			<div class="input input-name">
				<h3>Ảnh bìa</h3>
				<input type="file" name="file">
			</div>
			<div class="input input-name">
				<h3>Nhà xuất bản</h3>
				<input type="text" name="publisher">
			</div>
			<div class="input input-name">
				<h3>Giá bán</h3>
				<input type="number" name="sale">
			</div>
			<div class="button">
				<input type="submit" name="submit_info" value="Lưu lại">
			</div>
		</form>
	</div>
</section>

<%= erb :footer %>
