<%= erb :head %>

<main>
	<div class="container">
		
		<form action="/user/new" method="post">
			<div class="input input-name">
				<h3>Tên </h3>
				<input type="text" name="name" placeholder="Ho & Ten" required="true">
			</div>
			<div class="input input-gender">
				<h3>Giới tính</h3>
				<input type="radio" name="gender" value="0">Male
				<input type="radio" name="gender" value="1">Female
				<input type="radio" name="gender" value="2" checked>Orther
			</div>
			<div class="input input-birth">
				<h3>Ngày sinh</h3>
				<input type="date" name="birth" value="1800-01-01">
			</div>
			<div style="margin-top: 20px; float: left;">
				<input id="submit" type="submit" name="submit_info" value="Lưu lại">
			</div>
		</form>
	</div>
</main>

<%= erb :footer %>