<form action="/books" method="post">
	<h3 style="display: inline;">Nhập ID sách: </h3>
	<input id="id" type="id" name="id" value="<%= @idBook%>" required>
	<br>
	<h3 style="display: inline;">Nhập tên sách: </h3>
	<input id="name" type="name" name="name" value="<%= @nameBook.first['name']%>" required>
	<br>
	<div style="margin-top: 20px; float: left">
		<input type="hidden" name="_method" value="put">
		<input type="hidden" name="oldID" value="<%= @idBook%>">
		<button>Lưu lại</button>
	</div>
</form>
<form action="/books" method="GET" style="margin-top: 20px;">
	<input type="submit" value="Quay lại">
</form>
