<header class="header">
	<div class="container">
		<a href="/users">
			<span>
				<img id="logo" src= <%= "#{image_url('aKienDepTrai.jpg')}" %> >
				<span>Anh Kiên đẹp trai</span>
			</span>
		</a>
	</div>
</header>


